.top-bar {
  display: flex;
  justify-content: space-between;
  padding: 16px 20px;
  background-color: #111827;
  border-bottom: 1px solid #334155;
}

.end-meeting {
  background-color: crimson;
  color: white;
  padding: 8px 14px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
